/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Centra", sans-serif !important;
}

:root {
  --justBrown: #893614;
  --darkBrown: #20100e;
  --middleBrown: #e3964b;
  --softBrown: #eead74;
  --orange: #ffa50d;
  --darkBeige: #402e32;
  --middleBeige: #ac8b67;
  --softBeige: #fff8ee;
  --transparentBrown: #20100ebb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}


button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/*Navbar*/

nav.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}

.nav{
  --state-close: scale(0); /* default: hidden*/
  --state-hamburguer:scale(1); /* default: visible*/
  --state-menu: translate(-100%); /* shows menu*/

  padding: 20px 0;
  display: grid;
  gap: 2px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.nav:target{
  --state-menu: translate(0); /* hide menu*/
  --state-close: scale(1); /* shows nav__close*/
  --state-hamburguer:scale(0); /* hide nav__hamburger*/
}

.nav__logo{
  width: 30vmax;
  max-width: 350px;
  height: 90px;
  object-position: center;
  object-fit: cover;
  z-index: 1;
}

.nav__hamburguer, 
.nav__close{
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: .4s transform;
  justify-self: end;
}

.nav__hamburguer{
  transform: var(--state-hamburguer);
}

.nav__close{
  transform: var(--state-close);
}

.nav__icon{
  width: 40px;
}

.nav__links{
  background-color: #3333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;

  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 50px;

  transform: var(--state-menu);
  transition: .3s transform;
}

.nav__item{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item--button {
  justify-self: center;
  position: absolute;
  bottom: 40px;
}

.nav__link{
  color: var(--darkBrown);
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.btn__contact {
  font-size: 1.8rem;
  position: relative;
  padding: 15px 32px;
  background-color: transparent;
	transition: 0.3s ease-in-out;
}

.btn__contact.dark {
  border: 1px solid #121212;
  color: #121212;
}

.btn__contact.light {
  border: 1px solid #fff;
  color: #fff;
}

.btn__contact span {
  z-index: 1;
}

.btn__contact::before {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.btn__contact.dark::before{
  background-color: #121212;
}

.btn__contact.light::before{
  background-color: #fff;
}


.btn__contact.dark:hover {
  color: #fff;
}

.btn__contact.light:hover {
  color: #121212;
}

.btn__contact:hover::before {
  content: "";
  width: 100%;
  height: 100%;
}




@media (min-width:768px) {
  .nav{
      --state-hamburguer:scale(0);
      --state-menu: translate(0);
  }
  
  .nav:target{
      --state-close: scale(0);
  }

  .nav__links{
      padding: 0;
      background-color: unset;
      position: unset;
      gap: 1.5em;
      grid-auto-flow: column;
  
      transform: unset;

      grid-column: -2/-1;
      grid-row: 1/2;
  }

  .nav__link{
      font-size: 1.6rem;
      letter-spacing: none;
  }

  .nav__item--button {
    position: unset;
    margin-left: 18px;

  }
}

/* Header Main */
.header__main::before{
  content: "";
  display: block;
  height: 370px;
  background-image: url("../assets/img/closet1.jpg");
  background-size: cover;
  background-position: center;
}

.header__main {
  background-color: var(--darkBrown);
  max-width: 1650px;
  margin: 0 auto;
}

.header__texts {
  color: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.header__title h1{
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.header__description {
  margin-top: 12px;
}

.header__description p{
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.header__button {
  position: relative;
  z-index: 1;
  margin-top: 25px;
}

@media (min-width:768px){

  .header__main {
    display: flex;
    padding: 60px 20px 0 20px;
    justify-content: space-between;
    align-items: flex-start;

    background-image: linear-gradient(to bottom,
    var(--darkBrown) 70%, #fff 70%);
  }

  .header__main::before{
    margin-right: 80px;
    width: 30%;
    min-width: 400px;
    height: 500px;
    order: 1;
  }

  .header__texts {
    width: 50%;
  }
}


/* Servicios */
.services{
  display: grid;
  justify-content: center;
}

.services__title {
  text-align: center;
  margin-top: 40px;
}

.services__title h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--darkBrown);
}

.services__title h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--transparentBrown);
}

.services__container {
  width: 100%;
  min-width: 280px;
  max-width: 2000px;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__item {
  display: flex;
  width: 100%;
  min-width: 270px;
  max-width: 320px;
  flex-direction: column;
  align-items: center;
  margin: 20px 25px;
}

.services__item img {
  margin-left: 5px;
}

.services__texts {
  text-align: center;
}

.services__item h4,
.services__item p {
  margin-left: 10px;
  width: 100%;
}

.services__item h4 {
  font-size: 2.2rem;
}

.services__item p {
  font-size: 1.5rem;
  overflow: hidden;
  color: var(--transparentBrown);
}

/* About Section */
.about {
  display: grid;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  grid-template-areas: 
  "image1"
  "cta"
  "image2"
  "descriptions"
  "image3";
}

.about__img1 {
  grid-area: image1;
  height: 300px;
  background-image: url("../assets/img/muebleEstudio.png");
  background-size: cover;
  background-position: center;
}


.about__content {
  grid-area: cta;
  padding: 20px 10px;
}

.about__title {
  color: var(--darkBrown);
  font-size: 3.5rem;
  line-height: 3.7rem;
}

.about__subtitle {
  color: var(--darkBrown);
  font-size: 2.2rem;
  line-height: 2.4rem;
}

.about__paragraph {
  color: var(--transparentBrown);
  padding: 5px 0;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.about__cta {
  display: inline-block;
}

.about__img2 {
  grid-area: image2;
  height: 300px;
  background-image: url("../assets/img/repisaDecorativa.png");
  background-size: cover;
  background-position: center;
}

.about__descriptions {
  grid-area: descriptions;
  padding: 20px 10px;
}

.about__texts {
  padding: 5px 0;
}

.about__img3 {
  grid-area: image3;
  height: 300px;
  background-image: url("../assets/img/separador1.jpg");
  background-size: cover;
  background-position: center;
}

@media(min-width: 768px){
  .about {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
    "image2 image2 image2 image2 cta cta cta"
    "image2 image2 image2 image2 cta cta cta"
    "image2 image2 image2 image2 cta cta cta"
    "image1 image1 descriptions descriptions descriptions image3 image3"
    "image1 image1 descriptions descriptions descriptions image3 image3";
  }
}

/* Testimonials Sections */
.testimonials{
  margin-bottom: 100px;
}

.testimonials__title {
  margin-left: 10px;
  font-size: 3rem;
  line-height: 3.2rem;
}

.testimonials__quote {
  position: relative;
  background-color: var(--darkBrown);
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 80px 10px;
}

.testimonials__logo {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 0;
}

.testimonials__container{
  width: 90%;
  min-width: 280px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
}

.testimonials__text {
  text-align: center;
  font-size: 1.8rem;
}

.testimonials__cite{

}