/*--------Navbar----------*/
.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3333;
  }
  
  .navbar__left {
    display: flex;
  }
  
  .navbar__items {
    display: flex;
    align-items: center;
  }
  
  .navbar__items li {
    padding: 0 5px;
    font-size: 1.6rem;
  }
  
  .navbar__logo {
    width: 320px;
    height: 60px;
    object-position: center;
    object-fit: cover;
  }
  