<section class="about" id="about">
    <div class="about__img1">

    </div>
    <section class="about__content" data-aos="fade-left" data-aos-duration="800">
      <h2 class="about__title">Quiénes Somos</h2> 
      <p class="about__paragraph">En Madera Taller Carpinter&iacute;a es una empresa familiar fundada por un equipo apasionado por la madera y su transformaci&oacute;n. Cada mueble que diseñamos es una obra en la que nuestro amor por el oficio y nuestra visio&oacute;n artesanal se plasman. Mientras uno de nosotros se encarga del diseño y creaci&oacute;n de las piezas, el otro gestiona la parte administrativa, trabajando juntos para entregar un servicio cercano y personalizado.</p>
      <h2 class="about__title about__title--secondary">Nuestro Compromiso con el Medio Ambiente</h2>
      <p class="about__paragraph">Transformamos la madera no solo en muebles, sino en nuevas oportunidades. Con un enfoque en el reciclaje, damos vida a piezas que han tenido un prop&oacute;sito anterior, asegur&aacute;ndonos de que cada mueble sea un tributo a la durabilidad y belleza natural de este material. Cada proyecto es una expresi&acute;n de nuestro respeto por el medio ambiente y nuestro deseo de crear muebles que no solo embellecen espacios, sino que tambi&eacute;n cuidan de nuestro planeta.</p>
      <a href="#proyectos" class="btn dark about__cta">Ver Proyectos<span></span></a>
    </section>  
    <div class="about__img2" data-aos="fade-right">

    </div>
    <section class="about__descriptions">
      <div class="about__texts" data-aos="fade-up">
        <h3 class="about__subtitle">Misi&oacute;n</h3>
        <p class="about__paragraph">Diseñar muebles &uacute;nicos y funcionales que cuentan una historia, fusionando artesan&iacute;a y personalizaci&oacute;n en cada pieza.</p>
      </div>
      <div class="about__texts" data-aos="fade-up" data-aos-duration="800">
        <h3 class="about__subtitle">Proceso Creativo</h3>
        <p class="about__paragraph">Nos dedicamos a la transformaci&oacute;n de la madera de primera y el reciclaje, adaptando el diseño a las necesidades y estilo de cada cliente, garantizando un producto que resalta la calidez y personalidad del hogar.</p>
      </div>
      <div class="about__texts" data-aos="fade-up" data-aos-duration="800">
        <h3 class="about__subtitle">Valores</h3>
        <p class="about__paragraph">Compromiso con la calidad, atenci&oacute;n a los detalles, y un enfoque personalizado que convierte cada proyecto en una pieza &uacute;nica.</p>
      </div>
    </section>
    <div class="about__img3" data-aos="fade-left">

    </div>
  </section>