<section class="banner" data-aos="zoom-in" data-aos-duration="700">
    <div class="banner__texts">
      <div class="banner__title">
        <h2>¿Requieres servicios de carpinter&iacute;a? </h2>
      </div>
      <div class="banner__description">
        <p>Ofrecemos servicios de elaboraci&oacute;n de mobiliarios personalizados. Ponte en contacto con nosotros y cu&eacute;ntanos tus ideas.</p>
      </div>
    </div>
    <div class="banner__button">
      <a class="btn light whatsapp" href="https://api.whatsapp.com/send?phone=+573242399132&text=Hola, mi nombre es… y estoy interesado en realizar un trabajo de carpintería con ustedes" target="_blank" rel="noopener noreferrer"><span>Hablemos por WhatsApp</span><i class="fab fa-whatsapp fa-2x"></i></a>
    </div>
    <div class="banner__bg">

    </div>
</section>