<section class="contact" id="contact">
  <div class="contact__title">
    <h2 data-aos="fade-left" data-aos-duration="800">Ponte en contacto con nosotos</h2>
    <p data-aos="fade-left" data-aos-duration="1000">¿En qu&eacute; podemos ayudarte? D&eacute;janos tus datos y cuéntanos lo que necesitas, en el transcurso de los d&iacute;as nos pondremos en contacto contigo.</p>
  </div>
  <form class="contact__form" id="contact__form" data-aos="fade-left" data-aos-duration="1000">
    <!-- Nombre usuario -->
    <div class="form__group" id="group__user">
      <input
        type="text"
        class="form__input"
        name="user"
        id="user"
        placeholder="Nombre"
      />
      <label for="user" class="form__label">Nombre</label>
      <i class="form__state-validation fa" aria-hidden="true"></i>
      <p class="form__error">
        El nombre debe ser m&aacuteximo de 40 letras sin s&iacutembolos.
      </p>
    </div>

    <!-- Tipo de servicio -->
    <div class="form__group" id="group__service">
      <label for="service" class="form__label select"
        >Tipo de servicio<span class="form__label--opcional"
          >(opcional)</span
        ></label
      >
      <select class="form__input select" name="service" id="service">
        <option value="Construcción de mobiliario">
          Construcci&oacute;n de mobiliario
        </option>
        <option value="Construcción de Stand">
          Construcci&oacute;n de Stand
        </option>
        <option value="Reparación y renovación">
          Reparaci&oacute;n y renovaci&oacute;n
        </option>
      </select>
    </div>

    <!-- Correo usuario -->
    <div class="form__group" id="group__email">
      <input
        type="text"
        class="form__input"
        name="email"
        id="email"
        placeholder="Correo"
      />
      <label for="email" class="form__label">Correo</label>
      <i class="form__state-validation fa" aria-hidden="true"></i>
      <p class="form__error">Debes escribir un correo valido.</p>
    </div>

    <!-- Telefono usuario -->
    <div class="form__group" id="group__phone">
      <input
        type="tel"
        class="form__input"
        name="phone"
        id="phone"
        placeholder="Tel&eacute;fono"
      />
      <label for="phone" class="form__label">Tel&eacute;fono</label>
      <i class="form__state-validation fa" aria-hidden="true"></i>
      <p class="form__error">Debes escribir un tel&eacute;fono valido.</p>
    </div>

    <!-- Contenido Usuario -->
    <div class="form__group" id="group__content">
      <textarea
        class="form__textarea"
        name="content"
        placeholder="Descripción"
        id="content"
        cols="30"
        rows="4"
      ></textarea>
      <label for="content" class="form__label content"
      >Descripci&oacute;n</label
    >
    <i class="form__state-validation fa" aria-hidden="true"></i>
      <p class="form__error">
        Debe escribir un contenido con m&aacuteximo 300 caracteres.
      </p>
    </div>

    <!-- Validacion del correo -->
    <div class="form__group" id="form__validation">
      <p class="form__message">
        <span><i class="fa fa-exclamation" aria-hidden="true"></i></span>
        Enviado existosamente
      </p>
    </div>

    <div class="form__group">
      <button
        type="submit"
        class="form__submit btn dark"
        value="send"
        id="form__btn"
      >
        Enviar
      </button>
    </div>
  </form>

</section>
