<footer class="footer">
  <div class="footer__bg"></div>

  <img
    class="footer__logo"
    src="../assets/icon/logo.svg"
    alt="Logo en de en madera taller carpinteria"
  />

  <div class="contact__map">
    <iframe
      title="ubicacion en madera taller carpinteria"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.109168629941!2d-75.59783118255615!3d6.249343200000012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44290a9dce4105%3A0x9d17618d7ed47119!2sCl.%2043%20%2376-16%2C%20Medell%C3%ADn%2C%20Laureles%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1661549642113!5m2!1ses!2sco"
      width="100%"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <nav class="footer__nav">
    <h2>Contacto</h2>
    <ul class="footer__list">
      <li class="footer__item">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://api.whatsapp.com/send?phone=+573005142900&text=Hola, mi nombre es… y estoy interesado en realizar un trabajo de carpintería con ustedes"
          ><i class="fas fa-phone-alt"></i>+57 300 514 29 00</a
        >
      </li>
      <li class="footer__item">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://instagram.com/enmadera_taller?igshid=YmMyMTA2M2Y="
          ><i class="fab fa-instagram"></i> @enmadera_taller</a
        >
      </li>
      <li class="footer__item">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://goo.gl/maps/F77Y1RG5ohGLbZTSA"
          ><i class="fas fa-map-marker-alt"></i> Calle 43 # 76-16</a
        >
      </li>
      <li class="footer__item">
        <a target="_blank" rel="noopener noreferrer" href="mailto:enmadera_taller@enmadera.com.co"
          ><i class="fas fa-envelope"></i> enmadera_taller@enmadera.com.co</a
        >
      </li>
    </ul>
  </nav>
</footer>
<div class="footer__rights">
  <p>
    Todos los derechos reservados <i class="fas fa-copyright"></i> En madera
    taller carpinteria
  </p>
</div>
