<section class="header__main">
  <div class="header__texts left" data-aos="fade-right" data-aos-duration="800">
    <div class="header__title">
      <h1>¡La Madera hecha a tu espacio y medida!</h1>
    </div>
    <div class="header__description">
      <p>
        Realizamos todo tipo de muebles inmobiliarios en madera
      </p>
    </div>
    <a class="btn light header__button" href="https://api.whatsapp.com/send?phone=+573005142900&text=Hola, mi nombre es… y estoy interesado en realizar un trabajo de carpintería con ustedes" target="_blank" rel="noopener noreferrer">
      <span>Contratar Servicios</span>
    </a>
  </div>
  <div class="header__image skeleton-loading" data-aos="zoom-in" data-aos-duration="800">

  </div>
  <div class="header__texts right" data-aos="fade-left" data-aos-duration="1200">
    <div class="header__title right">
      <h2>Inmuebles Personalizados</h2>
    </div>
    <div class="header__description">
      <p>
        ¿No encuentras lo que buscas?
      </p>
      <p>¡Podemos crearlo!</p>
    </div>
    <div class="header__buttons">
      <a id="sillas" class="btn brown header__button">sillas</a>
      <a id="muebles" class="btn softBrown header__button">muebles</a>
      <a id="separadores" class="btn middleBrown header__button header__button--wide">separadores</a>
      <a id="stands" class="btn orange header__button">stands</a>
    </div>
  </div>
</section>

