<section class="header__main">
  <div class="header__texts left" data-aos="fade-right" data-aos-duration="800">
    <div class="header__title">
      <h1>¡La Madera hecha a tu medida!</h1>
    </div>
    <div class="header__description">
      <p>
        Realizamos todo tipo de muebles inmobiliarios en madera
      </p>
    </div>
    <button class="btn light header__button">
      <span>Contratar Servicios</span>
    </button>
    <!-- <div class="header__bg-left"></div>
    <div class="header__bg-right-mobile"></div> -->
  </div>
  <div class="header__image" data-aos="zoom-in" data-aos-duration="800">

  </div>
  <div class="header__texts right" data-aos="fade-left" data-aos-duration="1200">
    <div class="header__title right">
      <h2>Inmuebles Personalizados</h2>
    </div>
    <div class="header__description">
      <p>
        ¿No encuentras lo que buscas?
      </p>
      <p>¡Podemos crearlo!</p>
    </div>
    <div class="header__buttons">
      <a class="btn brown header__button">sillas</a>
      <a class="btn softBrown header__button">muebles</a>
      <a class="btn middleBrown header__button header__button--wide">separadores</a>
      <a class="btn orange header__button">stands</a>
    </div>
  </div>
  <!-- <div class="header__bg-right-desktop"></div> -->
</section>

