<section class="header__main" data-aos="zoom-in" data-aos-duration="800">
  <div class="header__image">
    
  </div>
  <div class="header__texts">
    <div class="header__title">
      <h1>¡La Madera hecha a tu medida!</h1>
    </div>
    <div class="header__description">
      <p>
        Nuestro principal objetivo es ayudar a nuestros clientes a satisfacer
        las necesidades de soluci&oacute;n de espacios a trav&eacute;s de la
        elaboraci&oacute;n de mobiliarios personalizados de acuerdo al diseño,
        medidas y material que el cliente requiera.
      </p>
    </div>
    <div class="header__button">
      <button class="btn__contact light">
        <span>Contratar Servicios</span>
      </button>
    </div>
    <div class="header__bg-left"></div>
    <div class="header__bg-right-mobile"></div>
  </div>
  <div class="header__bg-right-desktop"></div>
</section>

<a class="header__whatsapp" href="#"><i class="fab fa-whatsapp fa-4x"></i></a>
