<header class="header">
  <nav class="nav container" id="nav">
    <img src="../assets/icon/taller.svg" alt="Logo Taller Carpinteria" class="nav__logo"></img>

    <ul class="nav__links">
      <li class="nav__item">
        <a href="#" class="nav__link">Nosotros</a>
      </li>
      <li class="nav__item">
        <a href="#/proyectos" class="nav__link">Proyectos</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Servicios</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Testimonios</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Preguntas</a>
      </li>
      <li class="nav__item nav__item--button">
        <a href="#" class="nav__link btn dark"><span>Contacto</span></a>
      </li>
    </ul>

    <a href="#nav" class="nav__hamburguer">
      <img src="../assets/icon/menu.svg" class="nav__icon" />
    </a>

    <a href="#" class="nav__close">
      <img src="../assets/icon/close.svg" class="nav__icon" />
    </a>
  </nav>
</header>

