<header class="header">
  <nav class="nav container">
    <a href="/"> <img src="../assets/icon/taller.svg" alt="Logo Taller Carpinteria" class="nav__logo"></img></a>
   
    <ul class="nav__links">
      <li class="nav__item">
        <a href="#nosotros" class="nav__link">Nosotros</a>
      </li>
      <li class="nav__item">
        <a href="#proyectos" class="nav__link">Proyectos</a>
      </li>
      <li class="nav__item">
        <a href="#testimonios" class="nav__link">Testimonios</a>
      </li>
      <li class="nav__item">
        <a href="#preguntas" class="nav__link">Preguntas</a>
      </li>
      <li class="nav__item nav__item--button">
        <a href="#contacto" class="nav__link btn dark"><span>Contacto</span></a>
      </li>
    </ul>

    <a class="nav__hamburguer">
      <img src="../assets/icon/menu.svg" class="nav__icon" />
    </a>

    <a class="nav__close">
      <img src="../assets/icon/close.svg" class="nav__icon" />
    </a>
  </nav>
  <a class="header__whatsapp" href="#"><i class="fab fa-whatsapp fa-4x"></i></a>
</header>

