<section class="projects">
  <div class="projects__header">
    <div class="projects__header--title" data-aos="fade-left">
      <h2>Nuestros Proyectos</h2>
      <p>
        Tenemos un extenso cat&aacute;logo de inmuebles hechos a la medida, son
        vers&aacute;tiles y se ajustan a las necesidades del cliente. Mira
        nuestros proyectos y cu&eacute;ntanos c&oacute;mo podemos transformar
        tus ideas.
      </p>
      <a class="projects__header--button btn light">Contratar Servicios</a>
    </div>
  </div>
  <div class="projects__container" data-aos="fade-up">
    <article class="projects__element project1" id="closets">
      <img
        class="projects__image"
        src="../assets/img/closet2.jpg"
        alt="Imagen de closet"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
    </article>
    <article class="projects__element project4" id="grandes">
      <img
        class="projects__image"
        src="../assets/img/biblioteca.png"
        alt="biblioteca blanca en madera"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
    </article>
    <!-- <section class="banner empty" id="banner__projects" data-aos="zoom-in">
      <div class="banner__texts">
        <div class="banner__title">
          <h2>¿Requieres servicios de carpinter&iacute;a?</h2>
        </div>
        <div class="banner__description">
          <p>
            Ofrecemos servicios de elaboraci&oacute;n de mobiliarios
            personalizados. Ponte en contacto con nosotros y cu&eacute;ntanos
            tus ideas.
          </p>
        </div>
      </div>
      <div class="banner__button">
        <a class="btn light whatsapp"
          ><span>Hablemos por WhatsApp</span
          ><i class="fab fa-whatsapp fa-2x"></i
        ></a>
      </div>
      <div class="banner__bg"></div>
    </section> -->
    <article class="projects__element project6" id="separadores">
      <img
        class="projects__image"
        src="../assets/img/separador1.jpg"
        alt="separador de madera"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
    </article>
    <article class="projects__element project2" id="adicionales">
      <img
        class="projects__image"
        src="../assets/img/exhibidorAlmacen.png"
        alt="exhibidor o repisa de almacen"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
    </article>
    <article class="projects__element project3" id="especiales">
      <img
        class="projects__image"
        src="../assets/img/muebleEstudio.png"
        alt="mueble de estudio en madera"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
    </article>
    <article class="projects__element project5" id="generales">
      <img
        class="projects__image"
        src="../assets/img/gabineteCocina.jpg"
        alt="Gabinete de cocina"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
    </article>
  </div>
  <div class="projects__modal">
    <img
      class="modal__close"
      src="../assets/icon/close-light.svg"
      alt="boton de cerrar"
    />

      <div class="swiper">

        <div class="swiper-wrapper">
  
        </div>
    
        <div class="swiper-pagination"></div>
    
    
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
    
        <div class="swiper-scrollbar"></div>
      </div>

  </div>

</section>
