<section class="projects">
    <div class="projects__container">
        <article class="projects__element" id="projects__category--1">
            <img class="projects__image" src="../assets/img/closet2.jpg" alt="Imagen de closet">
            <div class="projects__texts">
                <h3 class="projects__title">Titulo del proyecto</h3>
                <p class="projects__description">Descripcion del proyecto</p>
            </div>
        </article>
        <article class="projects__element" id="projects__category--2">
            <img class="projects__image" src="../assets/img/muebleExhibidor.png" alt="Imagen de un exhibidor de madera">
            <div class="projects__texts">
                <h3 class="projects__title">Titulo del proyecto</h3>
                <p class="projects__description">Descripcion del proyecto</p>
            </div>
        </article>
        <article class="projects__element" id="projects__category--3">
            <img class="projects__image" src="../assets/img/muebleEstudio.png" alt="mueble de estudio en madera">
            <div class="projects__texts">
                <h3 class="projects__title">Titulo del proyecto</h3>
                <p class="projects__description">Descripcion del proyecto</p>
            </div>
        </article>
        <article class="projects__element" id="projects__category--4">
            <img class="projects__image" src="../assets/img/separador1.jpg" alt="separador de madera">
            <div class="projects__texts">
                <h3 class="projects__title">Titulo del proyecto</h3>
                <p class="projects__description">Descripcion del proyecto</p>
            </div>
        </article>
        <article class="projects__element" id="projects__category--5">
            <img class="projects__image" src="../assets/img/exhibidorAlmacen.png" alt="exhibidor o repisa de almacen">
            <div class="projects__texts">
                <h3 class="projects__title">Titulo del proyecto</h3>
                <p class="projects__description">Descripcion del proyecto</p>
            </div>
        </article>
        <article class="projects__element" id="projects__category--6">
            <img class="projects__image" src="../assets/img/mesaCircular1.png" alt="mesa circular en madera">
            <div class="projects__texts">
                <h3 class="projects__title">Titulo del proyecto</h3>
                <p class="projects__description">Descripcion del proyecto</p>
            </div>
        </article>
    </div>
</section>