<section class="projects">
  <div class="projects__header">
    <div class="projects__header--title" data-aos="fade-left">
      <h2>Nuestros Proyectos</h2>
      <p>
        Tenemos un extenso cat&aacute;logo de inmuebles hechos a la medida, son
        vers&aacute;tiles y se ajustan a las necesidades del cliente. Mira
        nuestros proyectos y cu&eacute;ntanos c&oacute;mo podemos transformar
        tus ideas.
      </p>
      <a class="projects__header--button btn light" href="https://api.whatsapp.com/send?phone=+573005142900&text=Hola, mi nombre es… y estoy interesado en realizar un trabajo de carpintería con ustedes" target="_blank" rel="noopener noreferrer">Contratar Servicios</a>
    </div>
  </div>
  <div class="projects__container" data-aos="fade-up">
    <article class="projects__element skeleton-loading project1" id="closets">
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
      <img
        class="projects__image"
        src="../assets/img/closet2.jpg"
        alt="Imagen de closet"
      />
      <i class="fas fa-eye projects__eye"></i>
    </article>
    <article class="projects__element skeleton-loading project4" id="grandes">
      <img
        class="projects__image"
        src="../assets/img/biblioteca.png"
        alt="biblioteca blanca en madera"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
      <i class="fas fa-eye projects__eye"></i>
    </article>
    <article class="projects__element skeleton-loading project6" id="separadores">
      <img
        class="projects__image"
        src="../assets/img/separador1.jpg"
        alt="separador de madera"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
      <i class="fas fa-eye projects__eye"></i>
    </article>
    <article class="projects__element skeleton-loading project2" id="adicionales">
      <img
        class="projects__image"
        src="../assets/img/exhibidorAlmacen.png"
        alt="exhibidor o repisa de almacen"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
      <i class="fas fa-eye projects__eye"></i>
    </article>
    <article class="projects__element skeleton-loading project3" id="especiales">
      <img
        class="projects__image"
        src="../assets/img/muebleEstudio.png"
        alt="mueble de estudio en madera"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
      <i class="fas fa-eye projects__eye"></i>
    </article>
    <article class="projects__element skeleton-loading project5" id="generales">
      <img
        class="projects__image"
        src="../assets/img/gabineteCocina.jpg"
        alt="Gabinete de cocina"
      />
      <div class="projects__texts">
        <h3 class="projects__title">Titulo del proyecto</h3>
        <p class="projects__description">Descripcion del proyecto</p>
      </div>
      <i class="fas fa-eye projects__eye"></i>
    </article>
  </div>
  <div class="projects__modal">
    <img
      class="modal__close"
      src="../assets/icon/close-light.svg"
      alt="boton de cerrar"
    />

    <div class="modal__content">
      <!-- <div class="modal__slides">
        <div class="modal__indicators">1 / 6</div>
        <img class="modal__img" src="../assets/img/closet2.jpg" alt="Closet">

        <div class="modal__navigation">
          <a class="modal__prev" onclick="console.log('left')"><i class="fas fa-chevron-left"></i></a>
          <a class="modal__next" onclick="console.log('right')"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div> -->

      <!-- <div class="modal__slides">
        <div class="modal__indicators">2 / 6</div>
        <img class="modal__img" src="../assets/img/exhibidorAlmacen.png" alt="Almacen exhibidor">
      </div> -->

      <!-- <div class="modal__slides">
        <div class="modal__indicators">3 / 6</div>
        <img class="modal__img" src="../assets/img/muebleEstudio.png" alt="Mueble estudio">
      </div>

      <div class="modal__slides">
        <div class="modal__indicators">4 / 6</div>
        <img class="modal__img" src="../assets/img/biblioteca.png" alt="Biblioteca blanca">
      </div>

      <div class="modal__slides">
        <div class="modal__indicators">5 / 6</div>
        <img class="modal__img" src="../assets/img/gabineteCocina.jpg" alt="Gabinete de cocina">
      </div>

      <div class="modal__slides">
        <div class="modal__indicators">6 / 6</div>
        <img class="modal__img" src="../assets/img/separador1.jpg" alt="Separador 1">
      </div> -->

      <!-- <div class="modal__caption">
        <p id="modal__text">Texto de ejemplo</p>
      </div> -->
    </div>
  </div>
</section>
