<section id="preguntas" class="questions">
  <h2>Preguntas Frecuentes</h2>
  <div class="questions__acordion">

    <article class="questions__item">
      <button class="questions__button" id="questions__button--1" aria-expanded="false">
        <span class="questions__title">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint,
          ratione?
        </span>
        <span class="questions__icon" aria-hidden="true"><i class="fas fa-sort-down"></i></span>
      </button>
      <div class="questions__content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At a
          consequatur accusantium inventore corporis culpa laboriosam nihil ad
          nemo porro!
        </p>
      </div>
    </article>

    <article class="questions__item">
        <button class="questions__button" id="questions__button--2" aria-expanded="false">
          <span class="questions__title">
            Lorem ipsum dolor sit amet?
          </span>
          <span class="questions__icon" aria-hidden="true"><i class="fas fa-sort-down"></i></span>
        </button>
        <div class="questions__content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At a
            consequatur accusantium inventore corporis culpa laboriosam nihil ad
            nemo porro!
          </p>
        </div>
    </article>

    <article class="questions__item">
        <button class="questions__button" id="questions__button--3" aria-expanded="false">
          <span class="questions__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit?
          </span>
          <span class="questions__icon" aria-hidden="true"><i class="fas fa-sort-down"></i></span>
        </button>
        <div class="questions__content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At a
            consequatur accusantium inventore corporis culpa laboriosam nihil ad
            nemo porro!
          </p>
        </div>
    </article>

  </div>
</section>
