<section id="preguntas" class="questions">
  <h2>Preguntas Frecuentes</h2>
  <div class="questions__acordion">

    <article class="questions__item">
      <button class="questions__button" id="questions__button--1" aria-expanded="false">
        <span class="questions__title">
          ¿Realizan trabajos a Domicilio?
        </span>
        <span class="questions__icon" aria-hidden="true"><i class="fas fa-sort-down"></i></span>
      </button>
      <div class="questions__content">
        <p>
          ¡Si! realizamos trabajos a Domicilio, hechos a la medida y espacio de nuestros clientes en la ciudad de Medellín.
        </p>
      </div>
    </article>

    <article class="questions__item">
        <button class="questions__button" id="questions__button--2" aria-expanded="false">
          <span class="questions__title">
            ¿Hacen reparaciones de inmuebles?
          </span>
          <span class="questions__icon" aria-hidden="true"><i class="fas fa-sort-down"></i></span>
        </button>
        <div class="questions__content">
          <p>
            Realizamos todo tipo de trabajos de carpintería, ¡podemos ayudarte a renovar tus inmuebles!
          </p>
        </div>
    </article>

    <article class="questions__item">
        <button class="questions__button" id="questions__button--3" aria-expanded="false">
          <span class="questions__title">
            Vi un diseño hecho en madera en internet y me gustaría replicarlo ¿Pueden ayudarme a construirlo?
          </span>
          <span class="questions__icon" aria-hidden="true"><i class="fas fa-sort-down"></i></span>
        </button>
        <div class="questions__content">
          <p>
            Nuestros trabajos son 100% personalizados, ponte en contacto con nosotros y cuéntanos cómo podemos ayudarte.
          </p>
        </div>
    </article>

  </div>
</section>
