<section class="services">  
    <div class="services__container">
      <article class="services__item" data-aos="zoom-in-right">
        <figure>
          <img
          srcset="../assets/icon/light.png 128w, ../assets/icon/light-mobile.png 64w"
          sizes="(max-width: 767px) 64px, (min-width: 768px) 128px" 
          src="../assets/icon/light-mobile.png" alt="imagen de lampara">
        </figure>
        <div class="services__texts">
          <h4>Diseño</h4>
          <p>Todos los mobiliarios son elaborados bajo diseño del cliente.</p>
        </div>
      </article>
      <article class="services__item" data-aos="zoom-in" data-aos-duration="500">
        <figure>
          <img
          srcset="../assets/icon/settings.png 128w, ../assets/icon/settings-mobile.png 64w"
          sizes="(max-width: 767px) 64px, (min-width: 768px) 128px" 
          src="../assets/icon/settings-mobile.png" alt="imagen de tuercas">
        </figure>
        <div class="services__texts">
          <h4>Materia Prima</h4>
          <p>Trabajamos con materia prima de alta calidad para espacios interiores y exteriores; tales como teca, comino, pino, entre otros.</p>
        </div>
      </article>
      <article class="services__item" data-aos="zoom-in-left">
        <figure>
          <img
          srcset="../assets/icon/roller-brush.png 128w, ../assets/icon/roller-brush-mobile.png 64w"
          sizes="(max-width: 767px) 64px, (min-width: 768px) 128px" 
          src="../assets/icon/roller-brush-mobile.png" alt="imagen de brocha de rodillo">
        </figure>
        <div class="services__texts">
          <h4>Productos Garantizados</h4>
          <p>Trabajamos con amor y compromiso para generar satisfacci&oacute;n en nuestros clientes.</p>
        </div>
      </article>
    </div>
  </section>