<section id="testimonios" class="testimonials">
  <div class="testimonials__container">
    <div class="testimonials__quote">
      <blockquote class="testimonials__blockquote">
        <p class="testimonials__text">
          "Si buscas un artista en la madera que materialice tu idea ajustada a tus necesidades, gustos y presupuestos, el taller “En Madera” es el lugar indicado. Te asesoran en materiales, diseño y tendencias actuales. Son los mejores."
        </p>
      </blockquote>
      <cite class="testimonials__cite">
        <span>Victor Cifuentes</span>
        <br />Cliente
      </cite>
    </div>

    <div class="testimonials__quote">
      <blockquote class="testimonials__blockquote">
        <p class="testimonials__text">
          "Agradecimientos enormes a usted y su equipo de trabajo,por la amabilidad, rapidez en la entrega, trabajo con calidad hacen de su empresa la mejor.gracias gracias mil bendiciones."
        </p>
      </blockquote>
      <cite class="testimonials__cite">
        <span>Olga Lucia</span>
        <br />Cliente
      </cite>
    </div>
  </div>
</section>
