<section class="testimonials">
    <div class="testimonials__container">
      <div class="testimonials__quote">
        <blockquote class="testimonials__blockquote">
          <p class="testimonials__text">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, facilis. Natus dolorum fugit quia corporis."</p>
        </blockquote>
        <cite class="testimonials__cite">
          <span>Ryan Ray</span>
          <br>Social Media Specialist
        </cite>
      </div>

      <div class="testimonials__quote">
        <blockquote class="testimonials__blockquote">
          <p class="testimonials__text">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, facilis. Natus dolorum fugit quia corporis."</p>
        </blockquote>
        <cite class="testimonials__cite">
          <span>Ryan Ray</span>
          <br>Social Media Specialist
        </cite>
      </div>

    </div>
  </div>
</section>