/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("../assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Centra", sans-serif !important;
}

:root {
  --justBrown: #893614;
  --darkBrown: #20100e;
  --middleBrown: #e3964b;
  --softBrown: #eead74;
  --orange: #ffa50d;
  --darkBeige: #402e32;
  --middleBeige: #ac8b67;
  --softBeige: #fff8ee;
  --transparentBrown: #20100ebb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}


button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.header {
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
}

/*Navbar*/

nav.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}

.nav{
  --state-close: scale(0); /* default: hidden*/
  --state-hamburguer:scale(1); /* default: visible*/
  --state-menu: translate(-100%); /* shows menu*/

  padding: 0;
  display: grid;
  gap: 2px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.nav.show{
  --state-menu: translate(0); /* hide menu*/
  --state-close: scale(1); /* shows nav__close*/
  --state-hamburguer:scale(0); /* hide nav__hamburger*/
}

.nav__logo{
  width: 30vmax;
  max-width: 350px;
  height: 90px;
  object-position: center;
  object-fit: cover;
  z-index: 201;
}

.nav__hamburguer, 
.nav__close{
  position: relative;
  z-index: 201;
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: .4s transform;
  justify-self: end;
}

.nav__hamburguer{
  transform: var(--state-hamburguer);
}

.nav__close{
  transform: var(--state-close);
}

.nav__icon{
  width: 40px;
}

.nav__links{
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 100vh;
  z-index: 200;
  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 50px;

  transform: var(--state-menu);
  transition: .3s transform;
}

.nav__item{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item--button {
  justify-self: center;
  position: absolute;
  bottom: 40px;
}

.nav__link{
  color: var(--darkBrown);
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

@media (min-width:768px) {
  .nav{
      --state-hamburguer:scale(0);
      --state-menu: translate(0);
      padding: 20px 0;
  }
  
  .nav:target{
      --state-close: scale(0);
  }

  .nav__links{
      padding: 0;
      background-color: unset;
      position: unset;
      gap: 1.5em;
      grid-auto-flow: column;
      height: unset;
      transform: unset;

      grid-column: -2/-1;
      grid-row: 1/2;
  }

  .nav__link{
      font-size: 1.6rem;
      letter-spacing: none;
  }

  .nav__item--button {
    position: unset;
    margin-left: 18px;

  }
}

/*==========button styles=========*/

.btn {
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  padding: 15px 32px;
  background-color: transparent;
	transition: 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.btn.whatsapp{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn.whatsapp i {
  margin-left: 8px;
}

.btn.dark {
  border: 1px solid #121212;
  color: #121212;
}

.btn.orange {
  border: 1px solid var(--orange);
  color: var(--orange);
}

.btn.brown {
  border: 1px solid var(--justBrown);
  color: var(--justBrown);
}

.btn.middleBrown {
  border: 1px solid var(--middleBrown);
  color: var(--middleBrown);
}

.btn.softBrown {
  border: 1px solid var(--softBrown);
  color: var(--softBrown);
}

.btn.light {
  border: 1px solid #fff;
  color: #fff;
}

.btn span {
  z-index: 1;
}

.btn::before {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.btn.dark::before{
  background-color: #121212;
}

.btn.orange::before{
  background-color: var(--orange);
}

.btn.brown::before{
  background-color: var(--justBrown);
}

.btn.middleBrown::before{
  background-color: var(--middleBrown);
}

.btn.softBrown::before{
  background-color: var(--softBrown);
}

.btn.light::before{
  background-color: #fff;
}


.btn.dark:hover {
  color: #fff;
}

.btn.light:hover {
  color: #121212;
}

.btn.orange:hover {
  color: #121212;
}

.btn.brown:hover {
  color: #121212;
}

.btn.middleBrown:hover {
  color: #121212;
}

.btn.softBrown:hover {
  color: #121212;
}

.btn:hover::before {
  content: "";
  width: 100%;
  height: 100%;
}


/*===========Header Main============*/

.header__image {
  position: relative;
  z-index: 1;
  content: "";
  display: block;
  height: 375px;
  background-image: url("../assets/img/pexels-thijs-van-der-weide-1094770.jpg");
  background-size: cover;
  background-position: center;
}

.header__main {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--darkBrown);
  max-width: 1750px;
  margin: 0 auto;
  height: auto;
}


.header__texts {
  position: relative;
  z-index: 10;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.header__texts.left{
  text-align: left;
  padding: 20px 0 30px 0;
}

.header__texts.right{
  text-align: right;
}


.header__title h1{
  position: relative;
  z-index: 100;
  font-size: 4rem;
  line-height: 4.2rem;
}

.header__title h2 {
  font-size: 3.5rem;
}


.header__description {
  margin: 8px 0;
}

.header__description p{
  position: relative;
  z-index: 100;
  font-size: 1.7rem;
  line-height: 1.9rem;
}


.header__buttons {
  width: 100%;
  min-width: 300px;
  max-width: 368px;
  margin: 0 0 0 auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: 47px;
  grid-auto-flow: dense;
  direction: rtl;
}

.header__buttons a {
  padding: 8px 3px;
}

.header__button {
  position: relative;
  z-index: 1;
  margin-top: 5px;
}

.header__button--wide {
 grid-column: span 2;

}


.header__main::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 180px;
  width: 180px;
  background-image: url("../assets/img/bg-intro-left-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__main::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 140px;
  width: 140px;
  transform: rotate(180deg);
  background-image: url("../assets/img/bg-intro-left-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header__whatsapp {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  transform: translate(-25%, -20%);
  color: #ffff;
  background-color: #0dc042;
  padding: 8px 11px;
  border-radius: 100%;
  box-shadow: 0 1px 5px #212529;
  transition: .4s ease-in-out;
}

.header__whatsapp:hover {
  background-color: #0eae3e;
}

@media (min-width:768px){

  .header__main {
    height: 80vh;
    max-height: 580px;
    padding: 0 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    background-image: linear-gradient(to bottom,
    var(--darkBrown) 85%, #fff 85%);
    gap: 10px;
  }

  .header__image{
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    height: 75vh;
    max-height: 580px;
    margin-top: 20px;
    order: -1;
  }

  .header__texts {
    width: 40%;
    max-width: 280px;
    max-height: 420px;
  }

  .header__texts.left {
    padding: 60px 0 0 30px;
  }

  .header__texts.right {
    align-self: center;
  }

  .header__buttons{
    max-width: unset;
    min-width: unset;
  }

  .header__main::before {
    display: none;
  }

  .header__main::after {
    transform: unset;
    top: 0;
    right: 0;
    background-image: url("../assets/img/bg-intro-left-mobile-copy.svg");
    height: 300px;
    width: 300px;
  }
}


/*========Services section======*/
.services{
  display: grid;
  justify-content: center;
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
}


.services::before {
  content: "";
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-image: url("../assets/img/bg-intro-left-mobile.svg");
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 0;
  height: 100px;
  width: 100px;
  transform: rotate(-180deg);
  background-image: url("../assets/img/bg-intro-left-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.services__title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--darkBrown);
}

.services__container {
  width: 100%;
  min-width: 280px;
  margin: 30px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__item {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  min-width: 270px;
  max-width: 320px;
  flex-direction: column;
  align-items: center;
  margin: 10px 15px;
}


.services__texts {
  text-align: center;
}

.services__item h4,
.services__item p {
  width: 100%;
}

.services__item h4 {
  font-size: 2.2rem;
}

.services__item p {
  font-size: 1.5rem;
  overflow: hidden;
  color: var(--transparentBrown);
}

@media (min-width:768px) {
  .services{
    margin: 80px auto;
  }
  .services__container{
    margin-top: 0;
  }

  .services::before {
    transform: unset;
    position: absolute;
    bottom: unset;
    top: -150px;
    left: 0;
    width: 195px;
    height: 504px;
    background-image: url("../assets/img/bg-intro-left-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .services::after {
    transform: unset;
    top: 70px;
    right: 0;
    width: 195px;
    height: 504px;
    background-image: url("../assets/img/bg-intro-left-desktop-copy.svg");
  }
}

/*===========About Section===========*/

.about {
  overflow: hidden;
  display: grid;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  grid-template-areas: 
  "image1"
  "cta"
  "image2"
  "descriptions"
  "image3";
}

.about__img1 {
  grid-area: image1;
  height: 300px;
  background-image: url("../assets/img/gabineteCocina.jpg");
  background-size: cover;
  background-position: center;
}


.about__content {
  grid-area: cta;
  padding: 20px 10px;
  align-self: center;
}

.about__title {
  color: var(--darkBrown);
  font-size: 3.5rem;
  line-height: 3.7rem;
}

.about__subtitle {
  color: var(--darkBrown);
  font-size: 2.2rem;
  line-height: 2.4rem;
}

.about__paragraph {
  color: var(--transparentBrown);
  padding: 5px 0;
  font-size: 1.7rem;
  line-height: 1.9rem;
}

.about__cta {
  display: inline-block;
}

.about__img2 {
  grid-area: image2;
  height: 300px;
  background-image: url("../assets/img/repisaDecorativa.png");
  background-size: cover;
  background-position: center;
}

.about__descriptions {
  grid-area: descriptions;
  padding: 20px 10px;
  align-self: center;
}

.about__texts {
  padding: 5px 0;
}

.about__img3 {
  grid-area: image3;
  height: 300px;
  background-image: url("../assets/img/separador1.jpg");
  background-size: cover;
  background-position: center;
}

@media(min-width: 768px){
  .about {
    margin: 50px auto;
    margin-bottom: 80px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
    "image2 image2 image2 image2 cta cta cta"
    "image2 image2 image2 image2 cta cta cta"
    "image2 image2 image2 image2 cta cta cta"
    "image1 image1 descriptions descriptions descriptions image3 image3"
    "image1 image1 descriptions descriptions descriptions image3 image3";
  }

  .about__img2 {
    height: 400px;
    margin: 0 20px 0 70px;
  }

  .about__img1{
    margin: 15px 0 0 70px;
  }

  .about__img3{
    margin: 15px 70px 0 0;
  }

  .about__img1,
  .about__img3 {
    height: 320px;
  }

  .about__content {
    padding: 20px 25px;
    margin-right: 40px;
  }

  .about__descriptions {
    padding: 20px 40px;
  }
}


/*==========Projects Section=========*/

.projects {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  overflow: hidden;
}

.projects__header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height: 380px;
  background-color: var(--darkBrown);
}

.projects__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 140px;
  width: 140px;
  background-image: url("../assets/img/bg-intro-left-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.projects__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 140px;
  width: 140px;
  transform: rotate(180deg);
  background-image: url("../assets/img/bg-intro-left-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__header--title{
  position: relative;
  z-index: 10;
  text-align: right;
  padding: 10px 5px;
}

.projects__header--title h2{
  font-size: 4rem;
  line-height: 4.2rem;
  color: #fff;
}

.projects__header--title p {
  margin-left: auto;
  margin-top: 8px;
  max-width: 550px;
  font-size: 1.7rem;
  line-height: 1.9rem;
  color: #fff;
}

.projects__header--button {
  display: inline-block;
  margin-top: 10px;
}

.projects__container{
  margin-top: -90px;
  width: 100%;
  display: grid;
  gap: 5px;
  padding: 0 10px 20px 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, 300px);
}


.projects__element {
  background-color: #0eae3e;
  height: 100%;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
  position: relative;
  cursor: pointer;
}

.projects__element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--darkBeige);
  opacity: 0;
  z-index: 2;
  transition: 0.5s;
}

.projects__texts {
  position: absolute;
  z-index: 3;
  transform: translateX(-5%);
  top: 10px;
  color: #f5f5f5;
  opacity: 0;
  transition: 0.5s;
}

.projects__title {
  font-size: 3rem;
}

.projects__description {
  font-size: 1.5rem;
}

.projects__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}


.projects__element:hover {
  transform: translateY(-1%);
}

.projects__element:hover::before{
  opacity: .5;
} 

.projects__element:hover .projects__texts {
  opacity: 1;
  transform: translateX(6%);
}

.projects__modal {
  transform: scale(0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .8);
  z-index: 200;
  transition: .3s ease-in-out;
}


.projects__modal.show {
  transform: scale(1);
}

.projects__modal.hide {
  transform: scale(0);
}

.modal__close {
  object-fit: cover;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 1px;
  right: 1px;
  cursor: pointer;
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 80vh;
}

.modal__slides {
  background-color: #e3964b;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  height: 100%;
}

.modal__indicators {
  position: absolute;
  top: 2px;
  left: 3px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #12121269;
}



.modal__img {
  /* position: relative;
  top: 50%;
  transform: translate(0, -50%); */
  object-fit: cover;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


.modal__navigation {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #121212c4;
  padding: 0 3px;
  display: flex;

}

.modal__prev,
.modal__next {
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  margin: 0 10px;
}


.modal__caption p {
  color: #fff;
  font-size: 2rem;
}


@media(min-width: 768px) {
  .projects {
    padding: 0;
    position: relative;
  }

  .projects__header {
    position: absolute;
  }

  .projects__header::before,
  .projects__header::after {
    width: 300px;
    height: 300px;
  }

  .projects__header--title {
    padding: 60px 9% 0 0;
    position: relative;
    float: right;
    z-index: 2;
  }

  .projects__header--title p {
    width: 80%;
  }

  .projects__container {
    position: relative;
    z-index: 1;
    max-width: 1650px;
    height: 1200px;
    gap: 20px;
    padding: 0 70px 30px 70px;
    margin-top: 50px;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-areas: 
    "project1 project1 empty empty"
    "project1 project1 project2 project3"
    "project4 project4 project6 project6"
    "project5 project5 project6 project6";
  }

  .project1 {
    grid-area: project1;
  }
  .project2 {
    grid-area: project2;
  }
  .project3 {
    grid-area: project3;
  }
  .project4 {
    grid-area: project4;
  }
  .project5 {
    grid-area: project5;
  }
  .project6 {
    grid-area: project6;
  }

  .modal__close {
    width: 64px;
    height: 64px;
    top: 30px;
    right: 35px;
  }

  .modal__content {
    max-width: 800px;
    height: 95vh;
    max-height: 610px;
  }
}



/* Banner */
.banner {
  position: relative;
  width: 90%;
  max-width: 1600px;
  margin: 50px auto 10px;
  padding: 40px 10px 55px 10px;
  background-color: var(--darkBrown);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.banner__bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  height: 317px;
  width: 176px;
  background-image: url("../assets/img/bg-services-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__texts {
  color: #ffff;
  position: relative;
  z-index: 1;
}

.banner__texts h2 {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.2rem;
}

.banner__description p {
  margin-top: 10px;
  width: 90%;
  font-size: 1.5rem;
}

.banner__button {
  display: block;
  margin-top: 30px;
}

.banner__button i {
  display: none;
}

@media(min-width: 768px){

  .banner{
    width: 90%;
    margin: 0 auto;
    align-items: start;
    padding: 40px 60px 40px 80px;
  }

  .banner__bg{
    height: 244px;
    width: 450px;
    background-image: url("../assets/img/bg-services-desktop.svg");
  }

  .banner__button{
    margin-top: 10px;
  }

  .banner__button i {
    display: block;
  }

}

/* Testimonials Sections */
.testimonials{
  margin-bottom: 100px;
  max-width: 1700px;
  margin: 0 auto;
}

.testimonials__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 10px;
  display: flex;
  flex-wrap: wrap;
}

.testimonials__quote::before {
  content: "";
  display: block;
  height: 64px;
  width: 64px;
  background-image: url("../assets/icon/left-quote.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(50%,50%);
  z-index: -1;
  opacity: .7;
}

.testimonials__quote{
  width: 90%;
  min-width: 280px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.testimonials__blockquote {
  width: 100%;
  display: inline-block;
}

.testimonials__text {
  font-style: italic;
  color: var(--transparentBrown);
  font-size: 2.5rem;
  opacity: .9;
}

.testimonials__text::first-letter {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

.testimonials__cite {
  display: block;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: lighter;
  font-style: normal;
  opacity: .7;
}

.testimonials__cite span {
  text-transform: uppercase;
  font-weight: 700;
}

/*==============Form section==============*/

.contact {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  gap: 20px;
}


.contact__title {
  position: relative;
  width: 100%;
  padding: 30px 10px;
  background-color: var(--darkBrown);
}

.contact__title::after {
  content: "";
  width: 176px;
  height: 317px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../assets/img/bg-services-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.contact__title h2,
.contact__title p {
  position: relative;
  z-index: 100;
  color: #ffff;
}

.contact__title h2 {
  font-size: 4rem;
  line-height: 4.2rem;
}

.contact__title p {
  width: 100%;
  max-width: 800px;
  margin-top: 5px;
  font-size: 1.7rem;
  line-height: 1.9rem;
}

.contact__form {
  display: grid;
  justify-content: center;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  margin: 15px 0;
  width: 100%;
  max-width: 250px;
}

.form__input {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--darkBeige);
  outline: 0;
  font-size: 1.7rem;
  color: var(--transparentBrown);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__textarea {
  width: 100%;
  resize: none;
  margin-top: 5px;
  font-family: inherit;
  font-size: 1.7rem;
  border: none;
  border-bottom: 2px solid var(--darkBeige);
  border-radius: none;
  outline: 0;
  color: var(--transparentBrown);
  background: transparent;
  transition: border-color 0.2s;
}

.form__textarea::placeholder,
.form__input::placeholder {
  color: transparent;
}

.form__textarea:placeholder-shown + .form__label,
.form__input:placeholder-shown + .form__label {
  font-size: 1.7rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1.7rem;
  transition: 0.2s;
  color: var(--darkBrown);
  pointer-events: none;
}

.form__label--opcional {
  color: var(--transparentBrown);
  font-size: 1.4rem;
  margin: 0 0 5px 3px;
}

.form__textarea:focus,
.form__input:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--justBrown), var(--justBrown)); 
  border-image-slice: 1;
}

.form__textarea:focus ~ .form__label,
.form__input:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.7rem;
  color: var(--justBrown);
  font-weight: 700;
}


.form__state-validation {
  position: absolute;
  top: 40%;
  right: 10px;
  font-size: 1.3rem;
  visibility: hidden;
}

.form__error {
  margin: 5px 0 0 2px;
  font-size: 1.1rem;
  color: var(--orange);
  display: none;
}


.form__message {
  text-align: center;
  font-size: 1.4rem;
}

#group__validation {
  display: none;
}

.form__submit {
  padding: 12px 38px;
}

.contact__map{
  width: 300px;
  height: 250px;
}

@media(min-width: 768px) {

  .contact__title {
    padding: 40px 0 40px 80px;
    grid-column: span 2;

  }

  .contact {
    grid-template-columns: repeat(fit-content, minmax(400px, 1fr));
    gap: 40px;
  }

  .contact__form {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 0 60px;
    gap: 20px;
    grid-column: 2/3;
  }

  .form__group {
    margin: 0;
    max-width: unset;
  }

  #group__content {
    grid-column: span 2;
  }

  .contact__map {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: auto;
    width: 90%;
    height: 100%;
    min-width: 500px;
    min-height: 400px;
    box-shadow: 3px 5px 14px -6px #0000007a;
  }
}



/*========= Footer Section ==========*/

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 18px;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 0 40px 0;
  background-color: #e6e6e6;
  overflow-x: hidden;
}

.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 200px;
  background-image: url("../assets/img/bg-footer-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__logo {
  position: relative;
  z-index: 100;
  width: 250px;
  justify-self: center;
  object-fit: cover;
  object-position: center;
}


.footer__item {
  margin: 15px 0;
}

.footer__item a{
  color: var(--darkBrown);
  font-size: 2rem;
  line-height: 2.2rem;
}

.footer__rights {
  background-color: var(--darkBrown);
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 15px 0;
}

.footer__rights p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #ffff;
}

@media(min-width: 768px) {
  .footer__bg {
    width: 528px;
    height: 231px;
    background-image: url("../assets/img/bg-footer-desktop.svg");
  }

  .footer {
    grid-template-columns: repeat(3, 1fr);
    gap: unset;
    align-items: center;
    padding: 30px 20px 40px 20px;
  }

  .footer__nav {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  } 


  .footer__item {
    margin-left: 5%;
  }
}